@charset "UTF-8";

.config{
    width: 150px;
    height: 80px;
    background-color: aliceblue;
    margin: 8px;
    border: solid 2px black;
    position: relative;
    float: left;
}
.r5{
    width: 80px;
    height: 80px;
    float: left;
}
.r4{
    width: 80px;
    height: 80px;
    float: left;
}
.absence{
    filter: grayscale(100%);
}
.elementstyle{
    width: 30px;
    height: 30px;
    position: absolute;
    left: 50px;
    bottom: 0px;
    background-color: #000000;
    border-radius: 50%;
    filter: saturate(200%);
    float: left;
}





