@charset "UTF-8";

body{
    margin: 0px;
}
.name{
    font-size: 35px;
}
header{
    width: 100vw;
    height: 400px;
}
.Cnbg_1{
    background-image: url(../../images/bg/Cnbg_1.webp);
    background-size: cover;
    background-repeat: no-repeat;
}
.Cnbg_2{
    background-image: url();
}
.Cnbg_3{
    background-image: url();
}
.Cnbg_4{
    background-image: url();
}
.Cnbg_5{
    background-image: url();
}
.Cnbg_6{
    background-image: url();
}
.Cnbg_7{
    background-image: url();
}
.Cnbg_8{
    background-image: url();
}


